.moveFromRight {
  animation-name: moveFromRight;
  animation-duration: 0.5s;
}

@keyframes moveFromRight {
  from {
    transform: translateX(800px);
  }
}

.moveToRight {
  animation-name: moveToRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes moveToRight {
  to {
    transform: translateX(800px);
  }
}

.disappear {
  animation-name: disappear;
  animation-duration: 0.1s;
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}
