.moveFromTop {
  animation-name: moveFromTop;
  animation-duration: 0.5s;
}

@keyframes moveFromTop {
  from {
    transform: translateY(-800px);
  }
}

.moveToBottom {
  animation-name: moveToBottom;
  animation-duration: 0.5s;
}

@keyframes moveToBottom {
  70% {
    transform: translateY(800px);
  }
  to {
    opacity: 0;
  }
}
