.moveFromTop {
  animation-name: moveFromTop;
  animation-duration: 0.5s;
}

@keyframes moveFromTop {
  from {
    transform: translateY(-800px);
  }
}

.moveToBottom {
  animation-name: moveToBottom;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
}

@keyframes moveToBottom {
  to {
    transform: translateY(800px);
  }
}

.disappear {
  animation-name: disappear;
  animation-duration: 0.1s;
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}
